<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Proyecto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
</head>
<body>
<main>
    <div class="container px-4 py-5">
        <h1 class="pb-2 mb-4 border-bottom">Editar Proyecto</h1>
        <form method="post" th:action="@{'/proyecto/save'}" class="col-4" th:object="${proyecto}">
            <input type="hidden" th:field="*{idproyecto}"/>
            <div class="mb-3">
                <label class="form-label">Nombre del Proyecto </label>
                <input type="text" class="form-control" th:field="*{nombreproyecto}" >
            </div>
            <div class="mb-3">
                <label class="form-label">Usuario Responsable</label>
                <select th:field="*{usuario_owner}">
                    <option th:each="usuarios : ${usuarioEntityList}" th:value="${usuarios.correo}" th:text="${usuarios.nombres} + ' ' + ${usuarios.apellidos}"></option>
                </select>
            </div>
            <a th:href="@{'/proyecto/listar'}" class="btn btn-danger">Cancelar</a>
            <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
        <br>
        <h4 class="pb-2 mb-4 border-bottom">Lista de Actividades del Proyecto</h4>
        <a class="btn btn-primary mt-4 mb-4" th:href="@{'/actividad/newformActividad?idproyecto=' +${proyecto.idproyecto}}">Nueva actividad</a>
        <table class="table table-sm">
            <tr>
                <th>#</th>
                <th>Nombre de la Actividad</th>
                <th>Usuario Responsable</th>
                <th>Peso</th>
                <th>Estado</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="actividades,i : ${listaActividadesporProyecto}">
                <td th:text="${i.index + 1}"></td>
                <td th:text="${actividades.nombreactividad}"></td>
                <td th:text="${actividades.usuario_owner}"></td>
                <td th:text="${actividades.peso}"></td>
                <td th:text="${actividades.estado}"></td>
                <td><a class="btn btn-primary" th:href="@{'/proyecto/editar?id=' + ${proyecto.idproyecto}}">Editar</a></td>
                <td><a class="btn btn-danger" th:href="@{'/proyecto/borrar?id=' + ${proyecto.idproyecto}}">Borrar</a></td>
            </tr>
        </table>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>